.nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.5);
  padding: 20px;
  background-color: #11aa89;
}

.item {
  margin-top: 10px;
}

.item a {
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  text-shadow: 3px 3px 3px #000;
}

.item a:hover {
  font-size: 15px;
  color: #ffd700;
}

.item a:active {
  font-size: 14px;
}

a.activeLink {
  color: #ffd700;
}
