.nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  padding: 20px;
  background-color: #11aa89;
}

.item {
  margin-top: 10px;
}

.item a {
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  text-shadow: 3px 3px 3px #000;
}

.item a:hover {
  font-size: 15px;
  color: #ffd700;
}

.item a:active {
  font-size: 14px;
}

a.activeLink {
  color: #ffd700;
}
