.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-color: #11aa89;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.5);
}

.header img {
  padding: 5px;
  width: 50px;
}
