.dialogs {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.dialogItems {
  border-right: 1px solid #000;
  margin-right: 5px;
  padding: 10px;
}
.dialog {
  padding: 5px;
}

.messages {
  padding: 10px;
}
.message {
  padding: 5px;
}

.active {
  color: #ffdb1a;
}
